canvas {
    background-color: #282828;
    margin: 0 auto;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_explain {
    width: 50%;
    height: auto;
}

/*게임 버튼*/
#control-buttons {
    flex-direction: column;
    align-items: center;
   
    gap: 10px; /*버튼 사이 간격*/
    margin: 20px 0; /*상단, 하단 간격*/
}

#jump_btn, #crouch_btn, #mute_btn {
    font-family:'bitbit';
    font-size: 14px;
    width: 100%;

    border-radius: 3px; /* 둥근 테두리 */
    padding: 10px 20px; /* 여백 */

    background-color: #f589ff; /* 배경색 */
    color: #282828; /* 글자색 */
    border: none; /* 테두리 없애기 */

    transition: all 0.3s ease; /* 애니메이션 */
}

/* 버튼에 마우스를 올렸을 때 */
#jump_btn:hover, #crouch_btn:hover, #mute_btn:hover {
    color: #81d8d1; /* 글자색 */
    transform: translateY(-2px); /* 위로 살짝 올라감 */
}

/* 버튼 클릭 시 */
#jump_btn:active, #crouch_btn:active, #mute_btn:active {
    background-color: #81d8d1;  /* 클릭 시 배경색 */
    transform: translateY(2px); /* 클릭 시 버튼이 내려감 */
}

/*게임 화면*/
#canvas {
    height: auto;
}

/*게임 화면 위치*/
.game_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*점수 그래프와 랭킹보드 둘 다 포함*/
#board {
    margin: 20px 0; /*상단, 하단 간격*/
}

/*점수 그래프*/
#scoreChart {
    width: 100%; /* 그래프가 컨테이너에 맞게 크기 조정 */
    height: auto; /* 그래프 높이는 자동으로 조정 */
}

/*랭킹 보드*/
#rankingBoard {
    width: 80%; 
    margin: 50px auto; /* 위쪽에 여백, 아래쪽 여백은 자동으로 중앙 정렬 */
    text-align: center; 
    background-color: #2a2a2a; 
    padding: 20px; /* 테두리와 글씨 사이에 여백 추가 */
    border-radius: 10px; /* 테두리 둥글게 처리 */
   
}

#rankingBoard h1 {
    color: #f589ff;
    font-size: 30px; 
    margin-bottom: 20px; /* 제목 아래에 여백 */
}

#rankingTable {
    width: 100%; 
    border-collapse: collapse; /* 경계 하나로 합침 */
    background-color: #3a3a3a;
    border-radius: 10px;
    overflow: hidden; /* 경계를 넘어가지 않게 */
}

#rankingTable th, #rankingTable td {
    padding: 15px; /* 셀 안의 텍스트에 여백 추가 */
    text-align: center; 
    color: white; 
    font-size: 16px; 
}

#rankingTable th {
    background-color: #f589ff; /* 헤더 부분 배경색 */
    color: #282828;
}

#rankingTable tr:nth-child(even) {
    background-color: #2a2a2a; /* 짝수 행 배경색 */
}

#rankingTable tr:nth-child(odd) {
    background-color: #4b4b4b; /* 홀수 행 배경색 */
}

#rankingTable tr:hover {
    background-color: #f589ff; /* 마우스 오버 시 배경색 */
}

#rankingTable td {
    border-bottom: 1px solid #777; /* 테이블의 셀 하단에 선 추가 */
}
